*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: cornflowerblue;
    border: 1px solid blue;
    min-height: 50px;
    width: 150px;
}

/* .container{
    background-color: cornflowerblue;
    border: 1px solid blue;
    min-height: 50px;
    width: 150px;
} */



